@import '/styles/colors.scss';
@import "/styles/mixins.scss";
@import "/styles/variables.scss";

.wrapper {
    display: flex;
    flex: 0 0 3.75rem;
    min-width: 20rem;
    position: relative;
    color: white;

    .content {
        align-items: stretch;
        background-color: #23252b;
        display: flex;
        height: 3.75rem;
        justify-content: space-between;
        left: 0;
        right: 0;
        min-width: 20rem;
        position: fixed;
        z-index: 100;

        .logo_wrapper {
            display: flex;
            flex: 0 1 13.75rem;
            height: 100%;

            @include respond-to('large') {
                justify-content: end;
            }

            .logo {
                display: block;
                height: inherit;
                padding: 0 1.125rem;

                .logo_icon {
                    width: 8.5rem;
                    fill: #f47521;
                    display: block;
                    height: inherit;
                    transition: fill 0.2s ease;
                    overflow: hidden;
                }
            }
        }

        .hamburger {
            align-items: center;
            color: #dadada;
            display: flex;
            justify-content: center;
            padding: 0 0.31rem;
            order: -1;
            padding-left: 1rem;
            padding-right: 1rem;
            transition: background-color .1s cubic-bezier(0, 0, .25, 1);

            cursor: pointer;

            @include respond-to('large') {
                display: none;
            }

            .hamburger_svg {
                fill: currentColor;
                height: 1.5rem;
                transition: fill .2s ease;
            }
        }
    }

    .tile {
        @include is-center();
        cursor: pointer;

        color: $color-gray-100;
        transition: background-color 0.1s cubic-bezier(0, 0, 0.25, 1);

        padding-left: 0.8rem;
        padding-right: 0.8rem;

        &:hover {
            background-color: #141519;
        }
    }

    .svg {
        align-items: center;
        color: #dadada;
        display: flex;
        justify-content: center;
        padding: 0 0.3125rem;

        .icon {
            fill: currentColor;
            height: 1.5rem;
            transition: fill .2s ease;
        }
    }

    .left {
        display: none;
        flex: 0 1 65.625rem;
        order: 0;

        @include respond-to('large') {
            display: flex;
        }

        span {
            font-family: Lato, Helvetica Neue, helvetica, sans-serif;
            font-weight: 500;
            user-select: none;
            --line-height: 1.5rem;
            font-size: 1rem;
        }
    }

    .right {
        display: flex;
        flex: 1;
        justify-content: flex-end;

        ul {
            display: flex;
            padding: 0;
            margin: 0;
            height: 100%;

            li {
                position: relative;
                @include text-is-xs();

                .popup_body {
                    display: none;

                    @include respond-to('medium') {
                        display: flex;
                    }

                    max-width: $popup-width;
                    padding-top: 0.625rem;
                    top: 3.75rem;
                    z-index: -1;
                    width: $popup-width;
                    margin-right: calc(($popup-width/2)*-1);
                    position: absolute;
                    right: 50%;


                    &:after {
                        border: $arrow-size solid;
                        border-color: #0000 #0000 #000;
                        content: "";
                        filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(89, 89, 91, .5));
                        left: calc(50% - $arrow-size);
                        position: absolute;
                        top: 0.4rem;
                        transform: translateY(-0.625rem);
                        transition: transform .1s, opacity .1s cubic-bezier(0, 0, .25, 1), visibility 0s linear .1s;
                        z-index: 1000;
                    }


                    .wrapper_content {
                        display: flex;
                        justify-content: center;
                        background-color: #000;
                        box-shadow: 0 0 0.375rem 0 #59595b80;
                        overflow: hidden;
                        text-align: center;
                        padding: 1.5rem 2rem;

                        .background {
                            height: 100%;
                            left: 0;
                            position: absolute;
                            top: 0;
                            width: 100%;
                            z-index: 0;
                        }

                        .content {
                            height: 100%;
                            background-color: #000;
                            position: relative;
                            display: flex;
                            flex-direction: column;

                            >h3 {
                                font-family: Lato, Helvetica Neue, helvetica, sans-serif;
                                margin-bottom: 0.75rem;
                                align-items: center;
                                display: flex;
                                justify-content: center;

                                @include is-heading();
                                @include heading-is-xxs();

                                .premium_icon {
                                    fill: #fff;
                                    height: 1.5rem;
                                    margin-right: 0.25rem;
                                    width: 1.5rem;
                                }
                            }

                            >p {
                                text-rendering: auto;
                                margin: 0;

                                @include text-is-m();
                                @include text-is-semibold();
                            }
                        }
                    }
                }

                .icon_crown {
                    fill: $color-orange-100;
                    padding: 0 0.25rem;
                    height: 2rem;
                    transition: fill 0.2s ease;
                }

                .text_wrapper {
                    @include respond-to('medium') {
                        display: flex;
                    }

                    display: none;
                    flex-direction: column;
                    margin-left: 0.25rem;
                    text-transform: uppercase;

                    .premium_header {
                        color: $color-orange-100;
                    }
                }
            }
        }
    }
}